# ignore compile
target/
*.class

# ignore IDE configration
.idea/
*.iml

# ignore .log
*.log

# ignore OS document
.DS_Store
Thumbs.db
*.db

#ignore .json
.vscode/
.json

#ignore metals
./metals/
.backup_logs/
.reports/

#ignore Dependencies
Dependencies.scala

#ignore .generated except .v
.generated
*.json
*.fir
